/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
.cache/
.mypy_cache/
/tests/keys/localhost.crt
/tests/keys/localhost.key
quotes-cointelegraph.com.html
cointelegraph.json
/crypto_news/spiders/quotes_news.py
/crypto_news/spiders/form_request_try.py
req.json

# Windows
Thumbs.db